{% extends "base.html" %}
{% block title %}Add Shop Items{% endblock %}

{% block content %}
<!-- Inline styles for customization -->
<style>
  .custom-form-container {
    width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .form-row {
    margin-bottom: 20px;
  }

  .form-row label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    border-radius: 5px;
  }


</style>

<div class="custom-form-container">
  <h2 class="mb-4 text-center">Update Shop item</h2>
  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-row">
      <label for="product_name">Product Name</label>
      {{ form.product_name(class="form-control") }}
    </div>

    <div class="form-row">
      <label for="current_price">Current Price</label>
      {{ form.current_price(class="form-control") }}
    </div>

    <div class="form-row">
      <label for="previous_price">Previous Price</label>
      {{ form.previous_price(class="form-control", required=False) }}
    </div>

    <div class="form-row">
      <label for="in_stock">In Stock</label>
      {{ form.in_stock(class="form-control") }}
    </div>

    <div class="form-row">
      <label for="description">Description</label>
      {{ form.description(class="form-control") }}
    </div>

    <div class="form-row">
      <label for="product_picture">Picture</label>
      {{ form.product_picture() }}
    </div>

    <div class="form-row">
      <label for="category">Category</label>
      {{ Category.category(class="form-control", id="status", required=True) }}
    </div>

    <div class="form-row">
      <label for="flash_sale">Flash Sale</label>
      {{ form.flash_sale }}
    </div>

    <div class="form-row">
      <label for="featured_product">Featured Product</label>
      {{ form.featured_product }}
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-primary">{{ form.add_product.label }}</button>
    </div>
  </form>
</div>
{% endblock %}
